@media (min-width: 1023px) {

    /* Header */

    header {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 250px;
        height: 160px;
    }

    .logo {
        width: 20%;
        flex-direction: row;
        gap: 20px;
    }

    .logo > img {
        margin-top: 0;
        margin-left: 20%;
    }

    .nav {
        flex-direction: row;
        width: 45%;
        height: 100px;
        margin-top: 0px;
        justify-content: center;
        gap: 20px;
    }

    .nav > a {
        min-width: 165px;
    }
    
    /*Main*/
    
    .banner {
        display: block;
    }
    
    .curiosidades {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .curiosidade-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    
    .card {
        gap: 15px;
    }

    .video {
        height: 700px;
    }



    .video-frame {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .video-frame > iframe {
        width: 100%;
        height: 550px;
        border-radius: 30px;
    }

    /* Footer */

    .contatos {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 250px;
    }

}