@media (min-width: 1024px) {

    /* Header */

    header {
        flex-direction: row;
        justify-content: center;
        gap: 200px;
        height: 200px;
    }

    .logo > img {
        margin-top: 0;
    }

    .nav {
        flex-direction: row;
        width: 45%;
        height: 100px;
        margin-top: 0px;
        gap: 20px;
        
    }
    
    /*Main*/
    
    .banner {
        display: block;
    }
    
    .curiosidade-title {
        line-height: 100px;
        margin-left: 21%;
        text-align: left;
    }

    .curiosidade-cards {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    
    .card {
        gap: 15px;
    }

    .video {
        height: 700px;
    }

    .video-title {
        margin-top: 20px;
        margin-left: 20%;
        text-align: left;
    }

    .video-frame {
        padding-left: 20%;
        padding-right: 20%;
    }
    
    .video-frame > iframe {
        width: 100%;
        height: 550px;
        border-radius: 30px;
    }

    /* Footer */

    .contatos {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 250px;
    }

}